section {
    border: 2px solid rgb(0, 0, 0);

}

.corinthians {
    display: flex;
    align-items: center;  
    justify-content: center; 
    gap: 4rem; 


    margin-bottom: 1rem ;
}

.corinthians img {
    width: 20rem;

}

.corinthians p {
    width: 30rem;
    text-align: center;
}

.romero {
    display: flex;
    align-items:  center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4rem;

    margin-bottom: 1rem;
}

.romero img {
    width: 20rem;
}

 .romero p {
    width: 30rem;
    text-align: center;
}

.formulario {
    padding: 1rem;

    display: flex;
    justify-content: center;
}

.formulario div{
    display: flex;
    flex-direction: column;
}

.formulario form {
    width: 30rem;
}